image: docker:git
services:
- docker:dind

stages:
- test
- release
- deploy

variables:
  CONTAINER_TEST_IMAGE: registry.gitlab.com/kc3416696ncku/unit-testing:$CI_BUILD_REF_NAME
  CONTAINER_RELEASE_IMAGE: registry.gitlab.com/kc3416696ncku/unit-testing:latest

# before_script:
#   - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com

# build:
#   stage: build
#   script:
#     - docker build -t $CONTAINER_TEST_IMAGE .
#     - docker push $CONTAINER_TEST_IMAGE

test1:
  stage: test
  image: $CONTAINER_TEST_IMAGE
  before_script:
    - cp .env.testing .env
    - composer install --no-interaction --prefer-dist --no-suggest
    - php artisan key:generate
  script:
    - php artisan serve & php artisan dusk
  cache:
    untracked: true
  artifacts:
    paths:
      - vendor

# release-image:
#   stage: release
#   script:
#     - docker pull $CONTAINER_TEST_IMAGE
#     - docker tag $CONTAINER_TEST_IMAGE $CONTAINER_RELEASE_IMAGE
#     - docker push $CONTAINER_RELEASE_IMAGE
#   only:
#     - master

# deploy:
#   stage: deploy
#   script:
#     - ./deploy.sh
#   only:
#     - master
