language: php

php:
  - 7.1.10

addons:
  chrome: stable

install:
  - cp .env.testing .env
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest
  - php artisan key:generate

notifications:
  email:
    recipients:
      - kc3416696@ismp.csie.ncku.edu.tw
    on_failure: always

before_script:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  - php artisan serve &

script:
  - php artisan dusk ./tests/Browser/