language: php

php:
  - 7.1.10

install:
  - composer install --prefer-dist --no-dev --optimize-autoloader --quiet

notifications:
  email:
    recipients:
      - kc3416696@ismp.csie.ncku.edu.tw
    on_success: always
    on_failure: always

script:
  - vendor/bin/phpunit -c phpunit.xml --coverage-text